.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.metaRow {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.inputGroup
  :where(
    input[type='text'],
    input[type='number'],
    input[type='select'],
    select
  ) {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: 2px 4px;
  border: 1px solid var(--gray-medium);
  border-radius: 4px;
  height: 33px;
}

.inputGroup textarea {
  resize: none;
  height: 200px;
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: 2px 4px;
  border: 1px solid var(--gray-medium);
  border-radius: 4px;
}

.iconInput {
  width: 100%;
  display: flex;
}

.iconContainer {
  border: 1px solid var(--gray-medium);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  display: flex;
  align-items: center;
  background-color: var(--primary-light);
  padding-inline: 8px;
}

.iconContainer img {
  width: 24px;
}

.iconInput input {
  flex-basis: 100px;
  flex-grow: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.discount {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.discount input[type='checkbox'] {
  width: 2rem;
  height: 2rem;
  accent-color: var(--primary);
}

.discount label {
  white-space: nowrap;
}

.controls {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-top: 2rem;
}

@media (width >= 768px) {
  .metaRow {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  .inputGroup textarea {
    height: 100px;
  }
}
