.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.orderHeader {
  margin-bottom: 1rem;
}

.row1 {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.row2 {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.cancelOrder {
  margin-left: auto;
  border: none;
  background-color: transparent;
  color: var(--error);
}

.filler {
  flex-basis: 58px;
}

.orderStatus {
  font-size: 1.25rem;
  font-weight: 300;
}

.orderDate {
  margin-left: auto;
  color: var(--gray-medium);
}

.orderContainer h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.productsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.cardBottom {
  display: grid;
  display: flex;
  justify-content: space-between;
}

.cardBottom > * {
  display: flex;
  flex-direction: column;
}

.col h4 {
  font-weight: 400;
  /*color: (--gray-dark);*/
}

.col p {
  font-weight: 500;
  font-size: 1.125rem;
}

.actionButton {
  border: none;
  background-color: transparent;
  color: var(--error);
}

@media (width >= 768px) {
  .productsContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
