NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000/
NEXT_PUBLIC_BACKEND_URL=https://dhi298ao7b.execute-api.us-west-2.amazonaws.com/dev
NEXT_PUBLIC_AUTH_URL=
NEXT_PUBLIC_AUTH_CLIENT_ID=
NEXT_PUBLIC_AUTH_RESPONSE_TYPE=token
NEXT_PUBLIC_AUTH_SCOPE=email+openid
NEXT_PUBLIC_AUTH_REDIRECT_URI=http://localhost:3000/login/oauth2/idpresponse