.container {
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--gray-dark);
}

.container section {
  margin-bottom: 1.5rem;
}

.block {
  padding-left: 1rem;
  color: var(--gray-darker);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.infoText {
  margin: 1rem 0;
  max-width: 600px;
  padding: 0.75rem 0.5rem;
  background-color: var(--gray-light);
  border-radius: 4px;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.block .infoText a {
  display: inline-block;
  padding: 0 2px;
  font-size: 1rem;
}

.timer {
  margin-top: 1rem;
}

.time {
  font-size: 1.5rem;
  color: var(--primary-dark);
}

.editPrompt {
  margin-top: 0.5rem;
  color: var(--gray-medium);
}

.block a {
  color: var(--primary);
  font-size: 1.25rem;
  text-decoration: underline;
}
