# node modules
*/node_modules

# CDK asset staging directory
.cdk.staging
cdk-outputs.json
cdk.out
cdk.context.json

# build files
dist/
*.js
*.d.ts
!/build/*

#npm
package-lock.json

#env
.env

run_deploy.zsh
src/lambda/users-lambda/tmp_backup.txt