# node modules
*/node_modules

# CDK asset staging directory
.cdk.staging
cdk-outputs.json
cdk.out
cdk.context.json

# build files
dist/
*.js
*.d.ts
!/build/*

#npm
package-lock.json

#env
.env

src/.DS_Store
./DS_Store

run_deploy.zsh

.nyc_output
coverage

#database for testing
*insert.sql
./src/database/mock