.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header a {
    color: var(--primary-dark);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.cardBottom {
    display: grid;
    display: flex;
    justify-content: space-between;
}

.cardBottom > * {
    display: flex;
    flex-direction: column;
}

.col h4 {
    font-weight: 400;
    color: (--gray-dark);
}

.col p {
    margin-top: 0.25em;
    font-weight: 500;
    font-size: 1.3rem;
}

.actionButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--warning);
    font-size: 1.2rem;
    font-weight: 500;
}

@media (width >= 768px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
