.login_master_container{
    width: 100vw;
    height: 100vh;
    background-image: url("../../public/login_bg.png");
    background-repeat: no-repeat;
    background-size:auto;
    background-position-y: -15em;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.top_container{
    /* margin-top: 20vh; */
    line-height: 2em;
    display: flex;
    justify-content: space-between;
}

.bottom_container{
    padding-top: 5em;
    display: flex;
    justify-content: center;

}

.login_card{
    width: 12em;
    height: 10em;
    background-color: #B08859;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
}

.login_text{
    color: white;
    font-size:x-large;
    font-family: var(--font-family-text);
}

.google_button{
    border: 0;
    width: 8em;
    padding: 5px;
    border-radius: 20px;
    /* background-color: transparent; */
    background-image: url("../../public/google.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
    vertical-align: middle;
}

.jungle_cart{
    font-family: var(--font-family-display);
    color: var(--primary);
    font-size: xx-large;
}

