.nav {
  border-bottom: 1px solid var(--gray-lighter);
  background-color: var(--gray-light);
  position: sticky;
  z-index: 999;
  top: 0;
}

.nav input {
  width: 600px;
  max-width: 100%;
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 14px;
  background-color: #ffffff;
  color: gray;
  outline: none;
  border: 0;
}

.logo {
  font-family: var(--font-family-display);
}
