.nav {
    border-bottom: 1px solid var(--gray-lighter);
    background-color: var(--gray-light);
    position: sticky;
    z-index: 1;
    top: 0;
 
}
  
.nav input {
    width: 600px;
    max-width: 100%;
    border-radius: 2px;
    font-size: 0.9rem;
    padding: 14px;
    background-color: #ffffff;
    color: gray;
    outline: none;
    border: 0;
} 

.logo {
  font-family: var(--font-family-display);
  font-size: x-large;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
  
  /*.searchInput {
    
  }*/

  /* .wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
  } */

  /* .search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
  } */

  /* .clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    cursor: pointer;
  } */
  
  /* .search {
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: var(--font-family-display);
  }

  .search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
  } */

 .avatar {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: white;
}