.nav {
  position: sticky;
  z-index: 999;
  top: 0;
}

.nav div input {
  max-width: 100%;
  font-size: 0.9rem;
  padding: 3px;
  color: gray;
  outline: none;
  border: 0;
}

.logo {
  font-family: var(--font-family-display);
}

.desktopNav {
  display: none;
}

.navRight {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
